<div class="p-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-6">
    <ng-container *ngFor="let memory of memories let i = index">
        <div class="flex justify-center">
            <app-card class="w-full" 
            [title]="memory.title" 
            [description]="memory.description" 
            [date]="memory.date"
            [memoryId]="memory.id"
            (deleteMemory)="deleteMemory($event)"
            *ngIf="memory.id"
            [location]="memory.location"
            [index]="i + 1">
            </app-card>
        </div>
    </ng-container>
</div>