<section class="p-8 h-full">
    <h1 class="text-lg font-semibold text-gray-700 dark:text-white">Add a wonderful memory</h1>

    <form>
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
            <!-- Title -->
            <div class="col-span-2">
                <label class="text-gray-700 dark:text-gray-200" for="title">Title</label>
                <input id="title" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
    
            <!-- Description -->
            <div class="col-span-2">
                <label class="text-gray-700 dark:text-gray-200" for="description">Description</label>
                <textarea id="description" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" rows="4"></textarea>
            </div>
    
            <!-- Date -->
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="date">Date</label>
                <input id="date" type="date" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
    
            <!-- Location -->
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="location">Location</label>
                <input id="location" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
            </div>
        </div>
    
        <div class="flex justify-end mt-6">
            <button class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Save</button>
        </div>
    </form>
    
</section>