<section class="p-8 h-full">
    <h1 class="text-lg font-semibold text-gray-700">Add a wonderful memory</h1>

    <form [formGroup]="addMemoryForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols2 xl:grid-cols2">
            <!-- Title -->
            <div class="col-span-2">
                <label class="text-gray-700" for="title">Title <span class="text-red-500">*</span></label>
                <input id="title" type="text" formControlName="title"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
                <div *ngIf="addMemoryForm.controls['title'].invalid && (addMemoryForm.controls['title'].dirty || addMemoryForm.controls['title'].touched)">
                    <small class="text-red-500">Title is required.</small>
                </div>
            </div>

            <!-- Description -->
            <div class="col-span-2">
                <label class="text-gray-700" for="description">Description <span class="text-red-500">*</span></label>
                <textarea id="description" formControlName="description"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"
                    rows="4"></textarea>
                <div *ngIf="addMemoryForm.controls['description'].invalid && (addMemoryForm.controls['description'].dirty || addMemoryForm.controls['description'].touched)">
                    <small class="text-red-500">Description is required.</small>
                </div>
            </div>

            <!-- Date -->
            <div class="col-span-2">
                <label class="text-gray-700" for="date">Date <span class="text-red-500">*</span></label>
                <input id="date" type="date" formControlName="date"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
                <div *ngIf="addMemoryForm.controls['date'].invalid && (addMemoryForm.controls['date'].dirty || addMemoryForm.controls['date'].touched)">
                    <small class="text-red-500">Date is required.</small>
                </div>
            </div>

             <!-- Photo -->
             <div class="col-span-2">
                <div *ngIf="!fileName; else fileNameTemplate">
                    <label class="text-gray-700" for="photo">Photo <span class="text-red-500">*</span></label>
                    <div class="flex items-center justify-center w-full mt-2">
                        <label for="dropzone-file"
                            class="flex flex-col items-center justify-center w-full h-64 border-2 border-fuchsia-300 border-dashed rounded-lg cursor-pointer bg-fuchsia-50 dark:hover:bg-bray-800 dark:bg-fuchsia-700 hover:bg-fuchsia-100 dark:border-fuchsia-600 dark:hover:border-fuchsia-500 dark:hover:bg-fuchsia-600">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click
                                        to upload</span> or drag and drop</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                            </div>
                            <input id="dropzone-file" type="file" (change)="uploadAvatar($event)" class="hidden" />
                        </label>
                    </div>
                </div>
    
                <ng-template #fileNameTemplate>
                    <div>
                        <label class="text-gray-700" for="fileName">File Name</label>
                        <input id="fileName" type="text" [value]="fileName"
                            class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring" readonly>
                    </div>
                </ng-template>
             </div>
             

            <!-- Location -->
            <div class="col-span-2">
                <app-autocomplete [label]="'Localisation'" (suggestion)="setSelected($event)"></app-autocomplete>
            </div>

           
        </div>

        <div class="flex justify-end mt-6">
            <button class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-fuchsia-700 rounded-md hover:bg-fuchsia-600 focus:outline-none focus:bg-fuchsia-600">
                Save
            </button>
        </div>
    </form>
</section>
