<div class="w-full max-w-sm px-4 py-3 bg-white rounded-md shadow-md border-gray-200 border">
    
    <div class="flex items-center justify-between">
        <p class="text-xs">Souvenir n°{{index}}</p>
        <svg (click)="onDeleteMemory(memoryId)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="size-5 cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </div>

    <div class="mt-2">
        <span class="px-3 py-1 text-xs text-fuchsia-800 uppercase bg-fuchsia-200 rounded-full ">{{location}}</span>
    </div>
    

    <div>
        <h1 class="mt-2 text-lg font-semibold text-gray-800  underline">{{title}}</h1>
        <p class="mt-2 text-sm text-gray-600 ">{{description}}</p>
    </div>

    <div>
        <div class="flex text-sm items-center mt-2 text-gray-700 ">
            <span>{{date | date:'EEEE, MMMM d, y'}}</span>
        </div>
    </div>
</div>