<div class="w-full max-w-sm px-4 py-3 bg-white rounded-md shadow-md dark:bg-gray-800">
    <div class="flex items-center justify-between">
        <span class="text-sm font-light text-gray-800 dark:text-gray-400">{{location}}</span>


    </div>

    <div>
        <h1 class="mt-2 text-lg font-semibold text-gray-800 dark:text-white">{{title}}</h1>
        <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">{{description}}</p>
    </div>

    <div>
        <div class="flex items-center mt-2 text-gray-700 dark:text-gray-200">
            <span>Date: {{date | date:'shortDate'}}</span>

        </div>

    </div>

    <div class="mt-6">
        <button
            class="flex w-full justify-center rounded text-red-600 hover:text-white border border-red-300 hover:bg-red-500 focus:outline-none focus:ring-red-300 font-medium text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Delete</button>
    </div>
</div>